.indigo body
{
	font-size:1.5rem;
}

.stage
{
	display:inline-block;
	width:20%;
	margin-right:5%;
	vertical-align: top;
	margin-top:5%;
}

.stageHeading
{
	width:100%;
	font-weight: bold;
	border-style:solid;
	border-width:2px;
	padding:10px;
	text-align:center;
}

.stageDesc
{
	padding-top:5%;
}

.stageDesc ul
{
	list-style: none;
	padding-left:0;
	text-align:left;
}

@media screen and (max-width: 600px)
{
	.content
	{
		margin-top:2%;
	}
}

#contact .content h1
{
	color:#FFF;
}

#work
{
	background:#FFF;
	padding-top:1%;
}

img.responsive
{
	width:100%;
}

@media screen and (max-width: 1070px)
{
	.stage
	{
		width:40%;
	}
}

@media screen and (max-width: 695px)
{
	.stage
	{
		width:100%;
	}

	.stageDesc
	{
		padding-top:2%;
	}
}


/* external css: flickity.css 

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
}

*/
/* =================== Payments and Invoicing ===========================*/

.pi #hero
{
	background: #1A1A1A url("tools2.jpg") left center/cover no-repeat !important;
}

#hero
{
	height:60%;
	width:100%;
	background-size:cover;
	background:#000;

}

.pi .content h2
{
	color:#35488B;
}

.pi #work
{
	background:#fff;
}

.pi #diagram
{
	width:50%;
	display:block;
	padding-top:1%;
	padding-bottom:1%;
}

@media screen and (max-width:329px)
{
	.pi #headline h2
	{
		display:none;
	}
	
	.pi h1 
	{
		display:block;
	}
}

@media screen and (max-height:335px)
{
	.pi #headline h2
	{
		display:none;
	}
	
	.pi h1 
	{
		display:block;
	}
}

@media screen and (max-width:800px)
{

	.pi #hero
	{
		height:50%
	}

}

#venn
{
	margin-top: 5%;
	display:block;
}

a.thumb
{
	display:none;
}

a.thumb img
{
	width:100%;
}


 /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #488A96;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
	font-size:1.2rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active {
    background-color: #35488B;
	color: #FFF;
	font-weight:bold;
}

.arrow
{
	display:none;
}

.arrow.visible
{
	display:inline;
}

button.accordion:hover {
    background-color: #ddd;
	color:#000;

}

button.accordion.active:hover {
    background-color: #35488B;
	color: #FFF;
	font-weight:bold;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
	margin-top:15px;
	margin-bottom:20px;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

#accordionText
{
	display:none;
}

@media screen and (max-width:500px)
{
	#detailedText
	{
		display:none;
	}
	
	#accordionText
	{
		display:block;
	}
}


@media screen and (max-width:1100px)
{
	
	.pi #diagram
	{
		width:60%;
	}
}

@media screen and (max-width:950px)
{
	
	.pi #venn
	{
		width:100%;
	}
	
	
}

@media screen and (max-width:450px)
{
	
	.pi #venn
	{
		display:none;
	}
	
	.pi #storyboard
	{
		display:none;
	}
	
	.pi a[href="storyboard1.jpg"].thumb 
	{
		display:block;
	}
	
	
}

@media screen and (max-width:980px)
{
	
	.pi #storyboard
	{
		width:100%;
	}
	
	
}

@media screen and (max-width:900px)
{
	
	.pi #diagram
	{
		width:80%;
	}
	
	
}

@media screen and (max-width:700px)
{
	
	.pi #diagram
	{
		width:100%;
	}
	
}

@media screen and (max-width:750px)
{
	
	.pi #persona
	{
		width:100%;
	}
	
}

@media screen and (max-width:550px)
{
	.pi #diagram
	{
		display:none;
	}
	
	.pi ul.responsive
	{
		display:inline-block;
	}
	
	.pi #persona
	{
		display:none;
	}
	
	.pi a[href="persona.jpg"].thumb 
	{
		display:block;
	}

}

.unresponsivetext
{
	display:inline;
}

@media screen and (max-width:400px)
{
	.unresponsivetext
	{
		display:none;
	}

}

.prototype
{
	text-align:left;	
}

.responsivePrototype
{
	width:300px;
	height:614px;
	display:none;
	background-size: cover;
}

.responsivePrototype img
{
	display:block;
	width:30%;
}

.responsivePrototype#indigoOld
{
	background-image:url("indigo/oldprototype.png");
}

.responsivePrototype#indigoNew
{
	background-image:url("indigo/newprototype.png");
}

.responsivePrototype#panHifi
{
	background-image:url("pan/tintedmockup.png");
}

.responsivePrototype#panLofiRedesign
{
	background-image:url("pan/lofiredesign.png");
}

.viewPrototype
{
	text-align:center;
	padding-top:90%;
}

.viewPrototype a.button
{
	background:transparent;
	color:#fff;
	font-size:3rem;
	font-family: "Roboto Condensed";
	font-weight: 200;
	border-style:solid;
	border-color: #fff;
}

.viewPrototype a.button:hover
{
	background:#fff;
	color:#000;
	text-decoration: none;
}

@media screen and (max-width: 580px)
{
	.prototype
	{
		display:none;
	}

	.responsivePrototype
	{
		display:block;
	}
}

@media screen and (min-width:885px)
{

}

/* =================== Pan ================================================*/

.pan #hero
{
	background: #35488B url("pan/hero.jpg") left center/cover no-repeat !important;
}

@media screen and (max-width:550px)
{
	.pan #hero
	{
		background-image:none !important;
	}
}

.pan #headline h1
{
	margin:0;
	font-size:4.5rem;
	font-weight:bold;
}

.pan #headline h2
{
	margin:0;
	font-size:3rem;
}

.pan #headline
{
	padding-top:10%;
}

.pan .content h2
{
	font-weight:bold;
}

.pan .content h3
{
	font-weight:bold;
}

.pan #solution
{
	text-align:left;
	width:100%;
}

.pan #responsivePrototype
{
	display:none;
}

@media screen and (max-width:600px)
{
	.pan #solution
	{
		display:none;
	}

	.pan #responsivePrototype img
	{
		width:60%;
		margin-bottom:5%;
	}

	.pan #responsivePrototype
	{
		display:block;
	}
}

@media screen and (max-width:1020px)
{
	.pan img[src="epic.png"]
	{
		width:100%;
	}
}

@media screen and (max-width:600px)
{
	#stuff img
	{
		width:100%;
		margin-bottom:5%;
	}
}



/*============Indigo===========================*/
.indigo h4
{
	margin-top:3%;
}

.indigo h2
{
	margin-top:5%;	
}


.indigo #hero
{
	background-image: url("indigo/hero.png");
}

.indigo #hero h1
{
	font-size:5rem;
}

.indigo #hero h2
{
	font-size:3rem;
}

.indigo
{
	font-size:1.7rem;
	line-height: 150%;
}


.stuff img
{
	box-shadow: 10px 10px 5px #888888;
}

.relative
{
	position: relative;
}

.left
{
	left:0;	
}

.right
{
	float:right;
}

/*========== Carousel ==================*/
#carouselBox
	{
		height:667px;
		width:414px;
		overflow:scroll;
	}

#carouselBox img
{
	width:100%;
}

#carousel
{
	position:relative;
	display:inline-block;
	padding-left:5%;
	padding-right:5%;
}

a.control
{
	display:inline-block;
	position:absolute;
	top:300px;
	cursor:pointer;
	font-size:3rem;
	color:#545454;
}

a.control:hover
{
	color:#7c7c7c;
}

a.control#next
{
	right:0;
}
a.control#previous
{
	left:0;
}

.dot 
{
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover 
{
		background-color: #717171;
}

img.active
{
	display:inline-block;
}

#dots
{
	text-align: center;
	padding-top:10px;
}

.none
{
	display:none;
}

@media screen and (max-width: 1000px)
{
	#hifi.responsive
	{
		display:block;
	}

	#carousel
	{
		display:none;
	}	

}
