.home h2
{
	font-family: 'Roboto', sans-serif;
	font-size:1.2rem;
}

.home #hero
{
	background: #1A1A1A url("lenscropped.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 470px)
{
	#headline h2
	{
		line-height: 120%;
	}
}


/* ================ Work =========================== */

.case
{
	display:inline-block;
	vertical-align:top;
	width:45%;
	margin:0 auto;
	margin-bottom:3%;
	margin-left:2%;
	margin-right:2%;
}

.case img:hover 
{
  background: #7049cc;
  opacity: 0.8;
}

.case:hover a
{ 

	text-decoration:underline;

}

.caseswrapper
{
	display: block;
	width:100%;
}

.case img
{
	display:block;
	width:100%;
}

.case a
{
	color:#488A96;
	text-decoration:none;
	font-weight:bold;
	display:block;
	font-size: 1.2rem;
}

.description 
{
	display:block;
	vertical-align:top;
	font-size:1rem;
	width:100%;
}

.case .description p ul
{
	padding-top:0;
}

.case .description
{
	padding-top:2%;
}

@media screen and (max-width:1121px)
{
	.case
	{
		width:45%;	
	}
	
}

@media screen and (max-width:630px)
{
	.case
	{
		width:100%;
		margin-bottom:10%;
	}
}

/*========================================== About ============================================================*/

#about
{
	/*background:#F0F0F0;*/
	background: #1A1A1A url("lensground1.jpg");
	color:#fff;
	padding-top:2%;
	
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about img
{
	width:20%;
	display:inline-block;
	margin-right:5%;
	border-radius: 50%;
}

#about .description
{
	width:66%;
	display:inline-block;
	font-size: 1.2rem;
}

@media screen and (max-width:450px)
{

	#about
	{
		text-align:center;
	}
	
	#about img
	{
		width:100%;
	}
	
	#about ul
	{
		list-style-type:none;
	}
	
	#about li
	{
		margin-bottom:15px;
		padding-left:0;
		margin-left:-40px;
	}
}

@media screen and (max-width:700px)
{

	#about
	{
		text-align:center;
	}
	
	#about img
	{
		width:50%;
	}
	
	#about .description
	{
		width:100%;
	}
}

@media screen and (max-width:400px)
{	
	#about img
	{
		width:100%;
	}
	
		#about
	{
		text-align:left;
	}
	
	#about .description
	{
		width:100%;
	}

	.content
	{
		padding-left:0;
		padding-right:0;
	}
}

.small
{
	font-size:1.1rem;
}

/*========================================== Philosophy ============================================================*/

#philosophy
{
	background:#35488B;
	color:#fff;
}

.designvalue
{
	display:inline-block;
	text-align:center;
	width:23%;
	vertical-align:top;
	margin-left:5%;
	margin-right:5%;
}

@media screen and (max-width:1185px)
{
	#philosophy .designvalue
	{
		width:100%;
		margin-bottom:30px;
		margin-left:0;
		margin-right:0;	
	}
}
