#home .navbar
{
	background: #66FFC6;
}

#home .jumbotron
{
	background: #66FFC6 url('assets/jumbotronbg.svg');
	background-size: cover;
}

#work .card-title
{
	font-weight: 700;
}

#work .card
{
	margin: 24px;
}

#about img
{	
	display:inline-block;
	margin-right:16px;
	margin-top:16px;
	margin-bottom:16px;
	border-radius: 50%;
	vertical-align:top
}

@media screen and (max-width: 768px) 
{
	#about .responsivecenter
	{
		display:block;
		text-align: center;
	}
}

#about
{
	background-image: linear-gradient(to bottom, rgba(0,0,0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/aboutbg2.jpeg");
}


#work
{
	background: #FDFDFD;
}

/*
The thumbnails on the home page. 
Control the size by defining the padding.
*/

@media screen and (max-width: 768px) 
{
	.phone.crop
	{
		padding-top:32px;
		padding-left:48px;
		padding-right:48px;
	}
}

.laptop.crop
{
	padding-top: 64px;
	padding-left:48px;
	padding-right:48px;
}

.tablet.crop
{
	padding-top: 64px;
	padding-left:48px;
	padding-right:48px;
}

.phone.crop
{
	padding-top:32px;
	padding-left:148px;
	padding-right:148px;
}

#assettrack .crop
{
	background: #E3F5F0;
}

#cibc .crop
{
	background: #FFCFCF;
}

#aytra .crop
{
	background: #F2F5F8;
}

#pridehacks .crop
{
	background: #FFCFCF;
}

#uis .crop
{
	background: #FFE2D4;
}

#edocs .crop
{
	background: #D7E5DF;
}

#pan .crop
{
	background: #DBFFB2;
}

#marketing .crop
{
	background: #DCEEF0;
}

#payments .crop
{
	background: #FFF9D0;
}

.card:hover
{
	box-shadow: 4px 4px 8px #eee;
}

.card, .card-img-top
{
	border-radius: 0;
}

.crop 
{
	height:300px;
    overflow: hidden;
}

.crop
{
	background: #EEE;
}